* {
	box-sizing: border-box;
}
html {
	background: #333;
	color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

a {
	color: #fff;
}
a:hover {
	color: orange;
}
a[href^="http"]:not([class^="ef-hide-ext"]):after {
    display: inline-block;
    width: 14px;
    height: 10px;
    position: relative;
	left: 4px;
	content: " ";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBpZD0iUmVubm11dHplbCIgZD0ibTUuODgwNDc3LDQuODE0MTg3bC01LjE0Mjc2MSwwbDAsOC4xMjAxNDlsOC4xMjAxNTEsMGwwLC01LjE0Mjc2bS0yLjcwNjcxNywtNy4wMzc0NjRsMCwxLjM1MzM1OGwxLjM1MzM1OCwxLjM1MzM1OGwtNC4wNjAwNzUsNC4wNjAwNzVsMi43MDY3MTcsMi43MDY3MTZsNC4wNjAwNzUsLTQuMDYwMDc0bDEuMzUzMzU5LDEuMzUzMzU4bDEuMzUzMzU3LDBsMCwtNi43NjY3OTFsLTYuNzY2NzkxLDB6IiBzdHJva2U9IiM2NjYiIGZpbGw9InRyYW5zcGFyZW50Ii8+DQo8L3N2Zz4=);
    background-repeat: no-repeat;
	background-size: contain;
}

/* flex layout utility */
.flex-container {
	display: flex;
}
.flex-1 {
	flex: 1;
}

/* body area */
header h1 {
	font-size: 4em;
	letter-spacing: 2px;
	overflow: hidden;
}
.ef-logo {
	display: inline-block;
	position: relative;
	top: 2px;
	width: 0.8em;
	height: 0.8em;
	margin: 0 8px;
	background: url(../img/logo.png) no-repeat;
	background-size: contain;
}
nav {
	overflow: hidden;
	white-space: nowrap;
}
nav > * {
	padding-right: 20px;
}
nav h1 {
	margin: 0 4px 0;
}
nav li {
	position: relative;
	list-style: none;
}
main {
	border-left: 1px solid white;
	padding: 0 20px;
	overflow: hidden;
}

/* news */
#news {
	display: flex;
	margin-bottom: 1em;
}
#news article a {
	display: inline-block;
	border: 1px solid gray;
	padding: 4px 8px;
}
#news article a ~ a {
	border-left: 1px solid gray;
}
#news cite, #news time {
	display: block;
}
#news a {
	position: relative;
}
#news a[href^="http"]:after {
	position: absolute;
	left: auto;
	right: 0;
	bottom: 4px;
}

/* footer */
footer {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
}
footer > section {
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 30px 20px;
	text-align: left;
}
footer section ~ section::before {
	display: inline-block;
	position: absolute;
	top: 30px;
	left: -2px;
	height: 150px;
	content: " ";
	border-left: 1px solid #e4e4e4;
	vertical-align: middle;
}
footer .uk-button-group {
	display: inline-flex;
	vertical-align: middle;
	position: relative;
}
footer .uk-button-group a ~ a{
	margin-left: 6px; 
}

/* uikit overrides */
span.uk-icon {
	margin-right: 0.25em;
}
span.ef-uk-icon-lift {
	position: relative;
	top: -1px;
}
[class*="uk-column-"] > * {
	break-inside: avoid-column;
}

/* convention links */
#links {
	display: block;
	width: 200px;
	height: 80px;
}

/* utility classes */
.ef-people img {
	display: inline;
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	margin-right: 12px;
}

.ef-people h3 {
	margin: 0;
}

/* js-disabled */
.js-disabled {
	font-family: monospace;
	padding: 3px 8px;
	font-weight: 600;
	background-color: #000;
	color: white;
}

/* administrative */
.debug {
	display: block;
	position: relative;
	padding: 8px;
	font-family: monospace;
	border: 1px solid orange;
	color: #fff;
	background: transparent;
	font-size: 0.75em;
	line-height: 1em;
	overflow: visible;
}
.debug > h3 {
	font-size: 1em;
	position: absolute;
	right: 8px;
	margin-top: 0;
}
.debug:before {
	content: "debug";
	color: #000;
	background: orange;
	position: absolute;
	top: -.75em;
	left: 6px;
	padding: 1px 4px;
	border-radius: 2px;
}
#EFWebCoreAutoExport {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	padding: 10px;
	background: #000;
	color: #fff;
}