:root {
	--header-height: 75px;
	--menu-button-width: 75px;
	--menu-button-height: 75px;
}
* {
	box-sizing: border-box;
}
html {
	background: #333;
	color: #fff;
	min-height: 100%;
	display: flex;
}
body {
	flex: 1;
	position: relative;
	min-height: 100%;
} 
/* hack for better fixed background on mobile */
body::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../img/blackmagic_by_kur0.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

a {
	color: #fff;
}
a:hover {
	color: orange;
}
a[href^="http"]:not([class^="ef-hide-ext"]):after {
    display: inline-block;
    width: 14px;
    height: 10px;
    position: relative;
	left: 4px;
	content: " ";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBpZD0iUmVubm11dHplbCIgZD0ibTUuODgwNDc3LDQuODE0MTg3bC01LjE0Mjc2MSwwbDAsOC4xMjAxNDlsOC4xMjAxNTEsMGwwLC01LjE0Mjc2bS0yLjcwNjcxNywtNy4wMzc0NjRsMCwxLjM1MzM1OGwxLjM1MzM1OCwxLjM1MzM1OGwtNC4wNjAwNzUsNC4wNjAwNzVsMi43MDY3MTcsMi43MDY3MTZsNC4wNjAwNzUsLTQuMDYwMDc0bDEuMzUzMzU5LDEuMzUzMzU4bDEuMzUzMzU3LDBsMCwtNi43NjY3OTFsLTYuNzY2NzkxLDB6IiBzdHJva2U9IiM2NjYiIGZpbGw9InRyYW5zcGFyZW50Ii8+DQo8L3N2Zz4=);
    background-repeat: no-repeat;
	background-size: contain;
}

/* fix anchor targeting */
:target {
	border-top: var(--header-height) solid transparent;
	margin-top: calc(0 - var(--header-height));
}

/* flex layout utility */
.flex-container { /* todo: still needed? */
	display: flex;
}
.flex-1 { /* todo: still needed? */
	flex: 1;
}

/* menu mechanic */
nav {
    display: block;
    position: fixed;
    left: -200%;
	top: var(--header-height, 100px);
	margin-bottom: var(--header-height, 100);
	z-index: 7;
	height: 100vh;
	overflow: auto;
}
#nav-state {
	position: fixed;
	left: -100vw;
	top: -100vh;
}
#nav-state:checked ~ nav {
	left: 0;
}
#nav-button {
	position: fixed;
	top: 0;
	left: 0;
	/* width: calc(var(--menu-button-width, 100)); */
	width: 100%;
	height: calc(var(--menu-button-height, 100));
	z-index: 9;
	background-image: url(../img/menu.svg);
	background-repeat: no-repeat;
	/* background-size: calc(var(--menu-button-width, 100) - 5px) calc(var(--menu-button-width, 100) - 5px); */
	background-size: 32px;
	background-position: 21.5px;
	cursor: pointer;
}
/* pulsing ring around menu button
#nav-button::after {
	content: " ";
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	width: calc(var(--menu-button-width, 100) - 5px);
	height: calc(var(--menu-button-height, 100) - 5px);
	border-radius: 100%;
	animation: pulseme 2s infinite 1s;
}
@keyframes pulseme {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, .4)
	}
	70% {
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0)
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
	}
}
*/

/* body area */
header {
	position: fixed;
	z-index: 9;
	width: 100%;
	background-color: #000;
	height: var(--header-height, 100px);
	top: 0;
}
main {
	position: relative;
	min-height: 100%;
	max-width: 1920px;
	padding: 0 50px;
	top: var(--header-height, 100px);
}
header h1 {
	font-size: 4em;
	letter-spacing: 2px;
	overflow: hidden;
	padding-left: calc(var(--menu-button-width) + 15px);
}

nav {
	/* width: 100%; */
	/* min-height: calc(100% - var(--header-height, 100)); */
	transition: left .2s;
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0.9);
	box-shadow: 0 0 10px 0 #000;
}
nav > * {
	padding-right: 20px;
}
nav h1 {
	margin: 0 4px 0;
}
nav li {
	position: relative;
	list-style: none;
}

/* galleries */
[class^="uk-card-media-"] a:hover img,
[uk-lightbox] a:hover img {
	filter: brightness(0.75);
}

/* news  */
#news {
	max-width: 500px;
	margin-bottom: 1em;
	white-space: normal;
}
#news li {
	display: inline-block;
	vertical-align: top;
	border: 1px solid var(--palette-green, #fff);
	padding: 4px 8px;
	margin: 2px 4px;
}
#news a {
	position: relative;
}
 #news li {
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
}

/* badger decoration */
.ef-new::after {
	content: "new";
	display: inline-block;
	height: 0.8em;
	line-height: 0.6em;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0 4px;
	margin-left: 5px;
	background-color: #f00;
	color: #fff;
	border-radius: 4px;
}

/* footer */
footer {
	position: relative;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
}
footer > section {
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 30px 20px;
	text-align: left;
}
footer section ~ section::before {
	display: inline-block;
	position: absolute;
	top: 30px;
	left: -2px;
	height: 150px;
	content: " ";
	border-left: 1px solid #e4e4e4;
	vertical-align: middle;
}
footer .uk-button-group {
	display: inline-flex;
	vertical-align: middle;
	position: relative;
}
footer .uk-button-group a ~ a{
	margin-left: 6px; 
}

/* uikit overrides */
span.uk-icon {
	margin-right: 0.25em;
}
span.ef-uk-icon-lift {
	position: relative;
	top: -1px;
}
[class*="uk-column-"] > * {
	break-inside: avoid-column;
}

/* convention links */
#links {
	display: block;
	width: 200px;
	height: 80px;
}

/* utility classes */
.ef-people img {
	display: inline;
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	margin-right: 12px;
}

.ef-people h3 {
	margin: 0;
}

/* js-disabled */
.js-disabled {
	font-family: monospace;
	padding: 3px 8px;
	font-weight: 600;
	background-color: #000;
	color: white;
}

/* administrative */
.debug {
	display: block;
	position: relative;
	padding: 8px;
	font-family: monospace;
	border: 1px solid orange;
	color: #fff;
	background: transparent;
	font-size: 0.75em;
	line-height: 1em;
	overflow: visible;
}
.debug > h3 {
	font-size: 1em;
	position: absolute;
	right: 8px;
	margin-top: 0;
}
.debug:before {
	content: "debug";
	color: #000;
	background: orange;
	position: absolute;
	top: -.75em;
	left: 6px;
	padding: 1px 4px;
	border-radius: 2px;
}
#EFWebCoreAutoExport {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	padding: 10px;
	background: #000;
	color: #fff;
}