:root {
	--menu-button-size: calc(2em + 14px);
}

@media (max-width: 1200px) {
	body {
		background-position: 80% 0;
	}
}

@media (max-width: 750px) {
	header h1 {
		font-size: 22pt;
		margin-top: .6em;
	}
    #home h1 {
        font-size: 2.625rem;
    }
    #home h2 {
        font-size: 18pt;
    }
	#home > div:nth-of-type(1) {
		width: 100%;
		background-color: rgba(0, 0, 0, .5);
	}
	nav {
		width: 100%;
	}
}

@media (max-width: 1080px) {
	main {
		border-left: none;
		padding: 8px;
	}
	footer > section {
		padding: 30px 8px;
	}
}

@media (min-width: 751px) {
    #home h1 {
        font-size: 66.6pt;
        letter-spacing: 2pt;
    }
}

/* footer */
@media (max-width: 1330px) {
	footer {
		text-align: left;
	}
}
