:root {
    --palette-cream: #DED0B0;
    --palette-green: #8FA892;
    --palette-blue: #589294;
    --palette-red: #C66249;
    --palette-brown: #3D2B1F;
}
@font-face {
    /* Permanent Marker by Font Diner Inc.
    source: https://fonts.google.com/specimen/Permanent+Marker
    license: ../fonts/PermanentMarker-Regular.LICENSE.txt */
    font-family: "pm";
    src: url(../fonts/PermanentMarker-Regular.ttf);
}

#content {
    padding: 50px;
    background-color: rgba(0, 0, 0, .9);
    min-height: 90vh;
}

header h1 {
    color: var(--palette-cream, #fff);
    margin-bottom: 0;
}
hr {
    border: 1px solid var(--palette-green, #fff);
}

/* nav */
nav > h1 {
    text-align: center;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav > ul {
    padding: 0 30px 20px;
}
nav > ul ul {
    padding-left: 1em;
}
nav a {
    color: var(--palette-cream, #fff);
    font-size: 14pt;
    margin: 0;
}


/* vertically scrollable attempt */
/* #news {
    display: flex;
    background-color: transparent;
    padding-bottom: 100px;
    overflow: auto;
    max-width: 300px;
    padding: 0;
    flex-flow: row nowrap;
}

#news li {
    display: block;
    margin-bottom: 8px;
    line-height: 1.1;
    padding: 8px;
    border: 1px solid var(--palette-cream);
    margin: 16px 8px 100px;
    max-width: 9em;
    word-wrap: break-word;
} */


/* fonts */
h1:not(.reset-font),
h2:not(.reset-font),
h3:not(.reset-font),
h4:not(.reset-font),
#ef-homelink:not(.reset-font),
#home h1:not(.reset-font),
#home h2:not(.reset-font) {
    font-family: "pm";
}

h1, h2, h3, h4, #ef-homelink {
    color: var(--palette-cream, #fff);
}

nav h1, #ef-homelink {
    color: var(--palette-red, #fff);
    font-size: 21pt;
    margin: 0;
}

/* colors */
html{
    color: var(--palette-cream, #fff);
}
a {
    color: var(--palette-blue, #ccc);
}
a:hover, #ef-homelink:hover {
    color: var(--palette-green, #ccc);
    text-decoration: none;
}
footer {
    background-color: var(--palette-brown, #000);
}
footer h3 {
    color: var(--palette-cream, #fff);
}
footer a {
    color: var(--palette-cream, #fff);
}
h3 {
    color: var(--palette-cream, #fff);
}
em {
    color: var(--palette-red, #f00);
}

/* home page */
main.ef-landingpage {
    padding-top: 100vh;
}
#home {
    position: absolute;
    top: -20px;
    left: 150px;
    padding: 20px;
    padding-left: var(--menu-button-width, 100);
}
#home h1, #home h2 {
    color: var(--palette-cream, #fff);
    margin: 0 auto;
}
#home h1 {
    color: var(--palette-red, #fff);
    font-size: 66.6pt;
    letter-spacing: 2pt;
}
#home div {
    position: absolute;
    left: -140px;
    top: 30px;
    width: 200px;
    height: 200px;
    background: transparent url(../img/fleeks_ef27_logo.png) no-repeat center;
    background-size: contain;
}
.landingpage-content-start {
    position: relative;
}
.landingpage-content-start p:nth-of-type(1) {
    margin-top: 0;
}
#scrolldown {
    position: absolute;
    width: 100%;
    top: -200px;
    text-align: center;
    animation: scrolldown-appear 3s forwards 3s 1;
    opacity: 0;
}
#scrolldown h1 {
    animation: pulse 8s infinite;
    text-shadow: 0 0 8px #000;
}
@keyframes pulse {
      0% {color: var(--palette-cream)}
    50% {color: var(--palette-red)}
    100% {color: var(--palette-cream)}
}
@keyframes scrolldown-appear {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* jobs page */
.uk-accordion-title {
    color: var(--palette-blue, #fff);
    border-top: 1px solid var(--palette-brown, #ccc);
}
.uk-accordion-title:hover {
    color: var(--palette-green, #ccc);
}

/* website page */
#artyeen-gallery {
    max-width: 900px;
    max-height: 300px;
}

#ef-badger a[href^="https://chrome.google.com"]::before,
#ef-badger a[href^="https://addons.mozilla.org"]::before {
	display: inline-block;
	position: relative;
	top: 2px;
	content: " ";
	width: 1em;
	height: 1em;
	background-size: contain;
	margin: 0 3px;
}
#ef-badger a[href^="https://chrome.google.com"]::before {
	background-image: url(../img/chrome.png);
}
#ef-badger a[href^="https://addons.mozilla.org"]::before {
	background-image: url(../img/firefox.png);
}

.ef-table-borders th,
.ef-table-borders td {
    border: 1px solid #999999;
}