:root {
    --palette-cream: #DED0B0;
    --palette-green: #8FA892;
    --palette-blue: #589294;
    --palette-red: #C66249;
    --palette-brown: #3D2B1F;
}
@font-face {
    /* Permanent Marker by Font Diner Inc.
    source: https://fonts.google.com/specimen/Permanent+Marker
    license: ../fonts/PermanentMarker-Regular.LICENSE.txt */
    font-family: "pm";
    src: url(../fonts/PermanentMarker-Regular.ttf);
}
body {
    background-image: url(../img/smoke-r.jpg);
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header h1 {
    color: var(--palette-cream, #fff);
    margin-bottom: 0;
}
hr {
    border: 1px solid var(--palette-green, #fff);
}

/* nav */
nav ul {
    padding: 0;
    margin: 0;
}
nav > ul {
    padding: 0 30px 20px;
}
nav > ul ul {
    padding-left: 1em;
}

nav h1, nav a {
    color: var(--palette-cream, #fff);
    font-size: 14pt;
    margin: 0;
}

/* news */
#news {
    background-color: transparent;
    display: block;
    margin-bottom: 0;
}

#news li {
    max-width: 300px;
    word-wrap: break-word;
    white-space: normal;
    margin-bottom: 8px;
    line-height: 1.1;
}

/* fonts */
nav h1 {
    color: var(--palette-red, #fff);
}
h1, h2, h3, h4 {
    color: var(--palette-cream, #fff);
    font-family: "pm";
}

/* colors */
html {
    background-color: #000;
}
html{
    color: var(--palette-cream, #fff);
}
a {
    color: var(--palette-blue, #ccc);
}
a:hover {
    color: var(--palette-green, #ccc);
    text-decoration: none;
}
footer {
    background-color: var(--palette-brown, #000);
}
footer h3 {
    color: var(--palette-cream, #fff);
}
footer a {
    color: var(--palette-cream, #fff);
}
h3 {
    color: var(--palette-cream, #fff);
}
em {
    color: var(--palette-red, #f00);
}

/* home page */
#home {
    position: relative;
}
#home h1, #home h2 {
    font-family: 'pm';
    color: var(--palette-cream, #fff);
    margin: 0 auto;
}
#home h1 {
    color: var(--palette-red, #fff);
}

#home div {
    position: absolute;
    padding: 20px;
    padding-left: var(--menu-button-width, 100);
}

/* jobs page */
.uk-accordion-title {
    color: var(--palette-blue, #fff);
    border-top: 1px solid var(--palette-brown, #ccc);
}
.uk-accordion-title:hover {
    color: var(--palette-green, #ccc);
}

/* website page */
#artyeen-gallery {
    max-width: 900px;
    max-height: 300px;
}

#ef-badger a[href^="https://chrome.google.com"]::before,
#ef-badger a[href^="https://addons.mozilla.org"]::before {
	display: inline-block;
	position: relative;
	top: 2px;
	content: " ";
	width: 1em;
	height: 1em;
	background-size: contain;
	margin: 0 3px;
}
#ef-badger a[href^="https://chrome.google.com"]::before {
	background-image: url(../img/chrome.png);
}
#ef-badger a[href^="https://addons.mozilla.org"]::before {
	background-image: url(../img/firefox.png);
}